<div id="home-cont" class="bg-col-paleTurquoise full-height">
    <div class="container bg-col-turquoiseBlue full-height">
        <div class="row">
            <div class="float-text">
                <h4>Bienvenido a Express Vet, clínica veterinaria</h4>
                <h2>Cuidado profecional para tu mascota</h2>
            </div>
            <div class="img-cont">
                <img src="../../../assets/animales-1024x330.png">
            </div>
        </div>
        <div class="row">
            <p class="ts-24">Trabajamos para ofrecerte el mejór servicio para tu mascota, por eso ahora podrás agendar o administrar
                citas con los mejores cuidados para tu mascota.</p>
        </div>
        <div class="btn-cont">
            <div class="container">
                <div class="row">
                    <div class="btn-reserv ts-24">
                        <button class="btn btn-primary" (click)="goToReservation()">Ir a Citas</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>