.img-cont{
    display: flex;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    height: 100%;
}

h1{
    text-align: center;
    padding: 20px;
    font-size: 32px;
}

.img-cont>img{
    /* height: 100%; */
    display: block;
    max-height:100%;
    width: auto; 
    height: auto;
}

#login-form{
    flex-grow: 0.9;
}

#login-form>mat-form-field, #login-form button{
    width: 100%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
}
