<div class="container">
    <div class="row">
        <div class="col-1">
            <p class="text-capitalize">{{reservation.reservationDate | date:'mediumDate'}} {{reservation.reservationDate | date:'shortTime'}}</p>
        </div>
        <div class="col-1">
            <p class="text-capitalize">{{reservation.uuid}}</p>
        </div>
        <div class="col-1">
            <p class="text-capitalize">{{reservation.name}}</p>
        </div>
        <div class="col-1">
            <p class="text-capitalize">{{reservation.document}}</p>
        </div>
        <div class="col-1">
            <p class="text-capitalize">{{reservation.status}}</p>
        </div>
        <div class="col-3">
            <p class="text-capitalize">{{reservation.description}}</p>
        </div>
        <div class="col-3">
            <div class="row" *ngFor="let comment of reservation.comments">
                <div class="col">{{comment.dateComment | date:'mediumDate'}} {{comment.dateComment | date:'shortTime'}}</div>
                <div class="col">{{comment.comment}}</div>
            </div>
        </div>
        <div class="col-1">
            <div>
                <button class="btn">Action</button>
            </div>
        </div>
    </div>
</div>